<!DOCTYPE html>
<html>
  <head>
    <% @page_title = "SANGO" %>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'sango/style', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p>https://saruwakakun.design/</p>
  </body>
</html>
